*.o
*.d
*.map

tfstool

# kernel binary file and memory mapping
buenos

# virtual storage file
store.file

# runtime socket
tty0.socket

# userland executables
halt
shell
test_join
test_fs_syscall
run_all_tests
write
